@font-face {
  font-family: 'Clarity';
  src: url('./Clarity.otf') format('opentype'),
       url('./Clarity.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
